**/__pycache__
**/.DS_Store
**/err*
**/_*
**/*mp4
**/*mp3
**/*ogg
**/*mov
**/*xcf
**/*png
**/*.tgz
**/*.gz
**/*.zip
**/Untitled*
**/html*
**/*.htm
**/0*.html
**/10*.html
**/1.*
**/2.*
**/3.*
**/4.*
**/5.*
**/6.*
**/7.*
**/8.*
**/9.*
**/10.*
**/_*/*
**/~*
**/.ipynb_checkpoints
nakshatra_sky_culture/bharat_sky_culture/bharat
stel_scripts/.Rapp.history
