**/__pycache__
**/.DS_Store
**/err*
/* **/_* */
**/_zap*
**/~*
**/*~
**/*_zap*
**/~planetplot
**/*mp4
!**/nakshatra_sky_culture/**/*mp4
**/*mp3
**/*ogg
**/*mov
!**/nakshatra_sky_culture/**/*mov
**/*xcf
!**/nakshatra_sky_culture/**/*xcf
**/*png
!**/nakshatra_sky_culture/**/*png
**/*.tgz
**/*.gz
**/*.zip
**/Untitled*
**/html*
**/*.htm
**/0*.html
**/10*.html
**/1.*
**/2.*
**/3.*
**/4.*
**/5.*
**/6.*
**/7.*
**/8.*
**/9.*
**/10.*
**/_*/*
**/.ipynb_checkpoints
nakshatra_sky_culture/bharat_sky_culture/bharat
stel_scripts/.Rapp.history
**/nbconvert.log
**/**~.*
**/.*swp
**/.sw?
**/node_modules
**/package-lock.json
**/package.json
learn/python/llm/.envrc
learn/python/llm/.env
**/.chainlit*
**/*.o
**/*.so
**/*.a
**/*.dll
**/*.dylib
**/*.exe
**/a.out
**/*.pyc
**/*.pyo
**/*.pyd
**/*.whl
**/*.egg-info
**/__pycache__
**/.DS_Store
**/err*
/* **/_* */
**/*dSYM/*
